<div class="row">
  <div class="col-md-8 col-md-offset-2">    
    <p id="notice"><%= notice %></p>

    <h1>Productos</h1>

    <%= link_to 'Nuevo producto', new_product_path, class: 'btn btn-primary pull-right' %>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Categorias</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.price %></td>
            <td><%= product.categories.map(&:name).sort.join(", ") %></td>
            <td><%= link_to 'Editar', edit_product_path(product) %></td>
            <td><%= link_to 'Eliminar', product, method: :delete, data: { confirm: 'Seguro?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

  </div>
</div>
